<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="#{benutzer.bearbeiten.titel(${loginname})}">
      Benutzer bearbeiten
    </title>
    <link rel="stylesheet" th:href="@{/styles.css}" href="/styles.css" />
  </head>
  <body>
    <header th:replace="~{fragments/kopffuss :: kopf}"></header>
    <div class="main-container">
      <h1 th:text="#{benutzer.bearbeiten.titel(${loginname})}">
        Benutzer xyz bearbeiten...
      </h1>

      <form
        class="form-container"
        th:action="@{/admin/benutzer/{ln}(ln=${loginname})}"
        method="POST"
        th:object="${formular}"
      >
        <div class="form-row">
          <label for="name" th:text="#{benutzer.name}">Name</label>
          <input type="text" th:field="*{name}" th:errorclass="error-field" />
          <span
            class="error-text"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"
          ></span>
        </div>

        <div class="form-row">
          <label for="email" th:text="#{benutzer.email}">E-Mail</label>
          <input type="text" th:field="*{email}" th:errorclass="error-field" />
          <span
            class="error-text"
            th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
          ></span>
        </div>

        <div class="form-row">
          <label for="adresse" th:text="#{benutzer.adresse}">Adresse</label>
          <input type="text" th:field="*{adresse}" />
        </div>

        <div class="form-row">
          <label for="rolle" th:text="#{benutzer.rolle}">Rolle</label>
          <select th:field="*{rolle}">
            <option value="">--</option>
            <option value="ADMINISTRATOR" th:text="#{benutzer.rolle.admin}">
              Administrator
            </option>
            <option value="ANBIETER" th:text="#{benutzer.rolle.kunde}">
              Anbieter
            </option>
            <option value="TESTER" th:text="#{benutzer.rolle.gesperrt}">
              Tester
            </option>
          </select>
        </div>

        <div class="form-row">
          <label for="passwort" th:text="#{benutzer.losung}">Passwort</label>
          <input
            type="password"
            th:field="*{passwort}"
            th:errorclass="error-field"
          />
          <span
            class="error-text"
            th:if="${#fields.hasErrors('passwort')}"
            th:errors="*{passwort}"
          ></span>
        </div>

        <div class="form-row">
          <label for="passwortWiederholung" th:text="#{benutzer.losungwh}"
            >Passwort (Wiederholung)</label
          >
          <input
            type="password"
            th:field="*{passwortWiederholung}"
            th:errorclass="error-field"
          />
          <span
            class="error-text"
            th:if="${#fields.hasErrors('passwortWiederholung')}"
            th:errors="*{passwortWiederholung}"
          ></span>
        </div>

        <div class="checkbox-row">
          <input type="checkbox" th:field="*{aktiviert}" />
          <label for="aktiviert">Aktiviert</label>
        </div>

        <div class="button-row">
          <button id="cancel-btn" type="button">Abbruch</button>
          <button id="ok-btn" type="submit">OK</button>
        </div>
      </form>
    </div>
    <footer th:replace="~{fragments/kopffuss :: fuss}"></footer>
  </body>
</html>
