<!-- Kopf und Fuss Fragments-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <body>
    <!--Kopf fragment-->
    <header th:fragment="kopf" class="kopf">
      <div class="kopf-container">
        <div class="brandname-container">
          <h1 class="company-name">Kleinstanzeigen</h1>
        </div>
        <div class="navbar">
          <div class="nav-links">
            <!-- "Benutzer" link only visible for ADMINISTRATOR role -->
            <a
              sec:authorize="hasRole('ADMINISTRATOR')"
              class="benutzer-link"
              th:text="#{kopf.benutzer}"
              th:href="@{/admin/benutzer}"
              >Benutzer</a
            >
            <a
              class="benutzer-link"
              th:text="#{kopf.anzeigen}"
              th:href="@{/admin/anzeige}"
              >Anzeige</a
            >
            <!-- Logout link -->
            <a class="benutzer-link logout-link" th:href="@{/logout}">Logout</a>
          </div>
          <div class="langs">
            <a th:href="@{?sprache=de}">DE</a>
            <a th:href="@{?sprache=en}">EN</a>
            <a th:href="@{?sprache=nl}">NL</a>
          </div>
        </div>
      </div>
      <!-- Error message -->
      <div th:if="${info}" class="benutzer-exception-container">
        <p th:text="${info}" class="exception-text"></p>
      </div>
    </header>
    <!--Fuss fragment-->
    <footer th:fragment="fuss" class="fuss">
      <div class="fuss-container">
        <p class="fuss-text">
          &copy; 2026 Webbasierte Anwendungen. All rights reserved.
          <!-- Show the logged-in username from Spring Security -->
          <span sec:authentication="name" class="fuss-user"></span>
        </p>
      </div>
    </footer>
  </body>
</html>
