<!-- Kopf und Fuss Fragments-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <!--Kopf fragment-->
    <header th:fragment="kopf" class="kopf">
      <div class="kopf-container">
        <div class="brandname-container">
          <h1 class="company-name">Kleinstanzeigen</h1>
        </div>
        <div class="navbar">
          <div class="nav-links">
            <a class="benutzer-link" th:href="@{/admin/benutzer}">Benutzer</a>
          </div>
          <div class="langs">
            <a th:href="@{?sprache=de}">DE</a>
            <a th:href="@{?sprache=en}">EN</a>
            <a th:href="@{?sprache=nl}">NL</a>
          </div>
        </div>
      </div>
      <!-- Error message -->
      <div th:if="${info}" class="benutzer-exception-container">
        <p th:text="${info}" class="exception-text"></p>
      </div>
    </header>
    <!--Fuss fragment-->
    <footer th:fragment="fuss" class="fuss">
      <div class="fuss-container">
        <p class="fuss-text">
          &copy; 2026 Webbasierte Anwendungen. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
